{% extends "base.html" %}

{% block extrahead %}
{{ super() }}

{% set ogp_image = "https://yun-cpp-v.github.io/blog/assets/ogp/" ~ (page.url.rstrip('/').replace('/', '_') or 'index') ~ ".png" %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:url" content="{{ page.canonical_url }}">
<meta property="og:site_name" content="{{ config.site_name }}">
<meta property="og:image" content="{{ ogp_image }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ config.site_description }}">
<meta name="twitter:image" content="{{ ogp_image }}">

{% endblock %}