{% extends "base.html" %}

{% block extrahead %}
{{ super() }}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ config.site_description }}">
<meta property="og:url" content="{{ page.canonical_url }}">
<meta property="og:site_name" content="{{ config.site_name }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="dummy title">
<meta name="twitter:description" content="dummy description">
<meta name="twitter:image" content="https://avatars.githubusercontent.com/u/145850987">
{% endblock %}